* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #21222A;
}
nav {
  display: flex;
  align-items: center;
  padding:  1.9375em 1.625em;
  gap: 0.375em;
}


a {
  text-decoration: none;
  font-size: 1.390625rem;
  font-weight: bold;
  color: #61DAFB;
}
.react-logo {
  width: 29px;
}

main {
 
  width: 100vw;
  height: 100vh;
  background-color: #282D35;
  color: #FFFFFF;
  
}



h1:before {
content: "";
position: absolute;
z-index: -1;
left: 30%;
top: 30%;
width: 251.77px;    
height: 222.74px; 
background: url('./assets/react-logo-dark.png') no-repeat;
background-size: contain;
  
}


.container {
   padding:  4em 1.8125em;
   z-index: 1;
   position: relative;
}

h1 {
  margin: 0;
  font-size: 2.44125rem;
 
}

ul {
  font-size: 1rem;

  
}


li {
  margin-bottom: 1em;
}
li::marker {
color: #61DAFB;
font-size: 1.5rem;

}



